@import "reset";
@import "utils";
@import "variables";

:root {
  font-size: 60%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  padding: $global-space * 3;
  background-image: url(/assets/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

body,
input,
button,
textarea {
  font: 400 1.75rem/1.6 $regular-font;
}

img {
  max-width: 100%;
}

@include for-tablet {
  :root {
    font-size: 62.5%;
  }

  :root,
  html,
  body {
    min-height: 100vh;
  }
}
