$color-background: #674baf;
$regular-font: "Open Sans", sans-serif;
$headings-font: "Poppins", sans-serif;

// Content
$content-title-color: #ffffff;
$content-title-fontSize: 2.5rem;
$description-title-color: #ffffff;
$content-button-bgColor--hover: #e882e8;
$content-button-color--hover: #ffffff;
$content-button-color: #674baf;
$button-font: "Poppins", sans-serif;

// Spaces
$global-space: 1rem;
