@import "reset";
@import "utils";
@import "variables";

:root {
  font-size: 60%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  padding: 2.4rem;
}

body,
input,
button,
textarea,
a {
  font: 400 1.6rem/1.6 $regular-font;
}

img {
  // max-width: 100%;
}

@include for-tablet {
  :root {
    font-size: 62.5%;
  }

  :root,
  html,
  body {
    min-height: 100vh;
  }
}
