$color-background: #fff;
$regular-font: "Barlow", sans-serif;

// Buttons
$header-button-bgColor: #e8eff2;
$header-button-color: #162542;

// Spaces
$global-space: 1rem;

// Radius
$global-border-radius: 0.8rem;
$images-border-radius: 2rem;

// Typemaster section
$typemaster-title-color: #162542;
$typemaster-title-fontSize: 4.8rem;
$typemaster-description-color: #7b8bad;

$typemaster-preOrderBtn-bgColor: #f16718;
$typemaster-preOrderBtn-color: #ffffff;

$typemaster-releaseLink-color: #7b8bad;
