$color-background: #ffffff;
$roboto-font: "Roboto", sans-serif;
$ubuntu-font: "Ubuntu", sans-serif;
$heading-font-color: #000;

// ### Primary
$background-card: #fff;
$dark-cyan: #006970;
$very-dark-cyan: #004241;

// ### Neutral

//(paragraphs)
$transparent-white: rgba(255, 255, 255, 0.75);

//(background, headings, buttons)
$very-light-gray: #f2f2f2;
