$heading-font: "Alata", sans-serif;
$text-font: "Noto Sans JP", sans-serif;
$color-background: #ffffff;
$heading-font-color: #5f6368;
$paragraph-font-color: #5f6368;
$heading-border-color: #dfe1e5;

// ### Primary
$background-card: #fff;
$dark-cyan: #006970;
$very-dark-cyan: #004241;

// ### Neutral

//(paragraphs)
$transparent-white: rgba(255, 255, 255, 0.75);

//(background, headings, buttons)
$very-light-gray: #f2f2f2;
