@import "base";
@import "card";

body {
  display: grid;
  place-items: center;
  background-color: $color-background;
}

.container {
  max-width: 1200px;
  // margin: 0 auto;
  // border: 1px dashed tomato;
}

.obs {
  justify-self: flex-start;
  margin-bottom: 4rem;
  margin-top: 4rem;
  color: $paragraph-font-color;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(95, 99, 104, 0.068);
  width: 100%;
}

.title {
  color: $paragraph-font-color;
  font-family: $heading-font;
  font-size: 4rem;
  margin-bottom: 1 rem;
  letter-spacing: 1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1.4rem;
    left: 0;
    background-color: $heading-border-color;
  }
}

.challenges {
  margin-bottom: rem;
  &__list {
    display: grid;
    grid-template-columns: minmax(200px, 380px) minmax(200px, 380px) minmax(200px, 380px);
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 3rem;

    @include for-tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include for-mobile {
      grid-template-columns: minmax(200px, 380px);
    }
  }

  &__card {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    background-color: $background-card;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.192), -2px 2px 6px 2px rgba(0, 0, 0, 0.192);
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    &:hover {
      transform: translateY(-6px);
    }
  }

  // &__card.desenvolvendo &__card::before {
  //   content: "teste";
  //   width: 30%;
  //   height: 30px;
  //   background-color: red;
  //   position: absolute;
  // }

  &__figure {
    position: relative;
  }

  &__image {
    max-width: 100%;
    min-height: 100%;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 2.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    transition: all ease 0.3s;
    font-family: $text-font;
    opacity: 0;

    @include for-tablet {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: -3px;
      right: 0;
      z-index: -1;
      background-color: rgba(36, 36, 36, 0.705);

      @include for-tablet {
        background-color: rgba(36, 36, 36, 0.5);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__title {
    font-family: $text-font;
    color: $heading-font-color;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  &__tags {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }

  &__tagItem {
    display: inline-block;
    font-size: 1.2rem;
    font-family: $text-font;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    &--html {
      background-color: #fc490b;
    }
    &--css {
      background-color: #2196f3;
    }
    &--sass {
      background-color: #cd6699;
    }
    &--bem {
      background-color: #8a8a9a;
    }
    &--js {
      background-color: #efd81d;
    }
    &--github {
      width: 41px;
      height: 25px;
    }
  }
}

.challenges__card.desenvolvendo::before {
  content: "Desenvolvendo";
  width: 60%;
  height: 30px;
  overflow: hidden;
  z-index: 10;
  // padding: 0 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  top: 30px;
  right: -14%;
  transform: rotate(40deg);
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
