$color-background: #19a2ae;
$regular-font: "Kumbh Sans", sans-serif;

// ### Primary

$dark-cyan: #19a2ae;
$very-dark-desaturated-blue: #2d3248;
$dark-grayish-blue: #6a6f81;

// ### Neutral

$dark-gray: #969696;

// Card
$card-background-color: #fff;

// ### BASIC COLORS
$white: #fff;
