.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  &__link {
    display: inline-block;
    max-width: 145px;
  }

  &__logo {
  }

  @include for-tablet {
    grid-area: header;

    &__link {
      width: 210px;
      height: 35px;
    }
  }
}
