// Global
$color-background: #fafafa;
$regular-font: "Poppins", sans-serif;

// Colors
$red: #ea5353;
$cyan: #45d3d3;
$orange: #fcaf4a;
$blue: #549ef2;

$card-background-color: #ffffff;

$title-color: #a3a5ae;
$title-color--bold: #4c4e61;
$description-color: #a3a5ae;
$card-title-color: #4c4e61;
$card-description-color: #a3a5ae;

// Font sizes
$callTitle-fontSize: 2.4rem;
$callTitleDeesktop-fontSize: 3.6rem;

// Spaces
$global-space: 1rem;

//
$global-border-radius: 0.6rem;
