$color-background: #fafafa;
$regular-font: "Poppins", sans-serif;

// Cards border color
$red: #ea5353;
$cyan: #45d3d3;
$orange: #fcaf4a;
$blue: #549ef2;

$card-background-color: #ffffff;

$title-color: #4c4e61;
$description-color: #a3a5ae;

$global-space: 1rem;
