.content {
  margin-top: $global-space * 6.5;

  &__register {
    margin-top: $global-space * 6.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    color: $content-title-color;
    font-family: $headings-font;
    font-size: $content-title-fontSize;
    font-weight: 600;
  }

  &__description {
    margin-top: $global-space * 2.5;
    color: $description-title-color;
  }
  &__button {
    margin-top: $global-space * 2.5;
    width: 210px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    color: $content-button-color;
    font-family: $button-font;
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      color: $content-button-color--hover;
      background-color: $content-button-bgColor--hover;
    }
  }

  &__imageBox {
    max-width: 700px;
    margin: 0 auto;
  }

  @include for-tablet {
    display: grid;
    grid-template-areas: "imageBox register";
    grid-template-columns: 1fr 540px;
    grid-template-rows: min-content;
    gap: 6rem;

    &__imageBox {
      grid-area: imageBox;
    }
    &__register {
      grid-area: register;
      align-items: flex-start;
      text-align: left;
    }

    &__title {
      font-size: 4rem;
    }

    &__description {
      font-size: 1.9rem;
    }

    &__register {
      margin-top: 0;
    }
  }
}
