@import "reset";
@import "utils";
@import "variables";

:root,
html,
body {
  min-height: 100vh;
}

:root {
  font-size: 62.5%;

  @include for-tablet {
    font-size: 60%;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 4rem 2rem;
  background-image: linear-gradient(to bottom, $soft-violet, $soft-blue);
  background-repeat: no-repeat;
}

body,
input,
button,
textarea {
  font: 400 1.4rem / 1.8 $main-font-family;
}
