//  Font/Text
$main-font-family: "Kumbh Sans", sans-serif;
$title-font-size: 2.6rem;
$global-font-size: 1.4rem;
$question-font-size: 1.4rem;
$global-line-height: 1.8;
$regular-font-weight: 400;
$bold-font-weight: 700;

// Background gradient:
$soft-violet: #af67e9;
$soft-blue: #6565e7;

$card-bgColor: #ffffff;

$arrow-color: #f47c57;

$main-title-color: #1d1e35;
$question-color: #4a4b5e;
$awnser-color: #787887;
$question-color--active: #1d1e35;

$divider-color: #e7e7e9;

$global-radius: 20px;

// Spaces
$global-padding: 1rem;
$global-margin: 1rem;
