/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
s article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 60%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  padding: 9rem 4rem;
}
@media (min-width: 730px) {
  body {
    padding: 8rem;
  }
}

body,
input,
button,
textarea {
  font: 400 1.5rem/1.8 "Poppins", sans-serif;
}

@media (min-width: 730px) {
  :root {
    font-size: 62.5%;
  }

  :root,
html,
body {
    min-height: 100vh;
  }
}
.call {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.call__title {
  display: block;
  font-size: 2.4rem;
  color: #a3a5ae;
  font-weight: 200;
}
@media (min-width: 730px) {
  .call__title {
    font-size: 3.6rem;
  }
}
.call__title--bold {
  font-weight: bold;
  color: #4c4e61;
}
.call__description {
  margin-top: 3rem;
  color: #a3a5ae;
  max-width: 500px;
}

.card {
  margin-top: 7rem;
  margin-bottom: 5rem;
  max-width: 350px;
}
@media (min-width: 730px) {
  .card {
    max-width: 100%;
  }
}
@media (min-width: 730px) {
  .card__list {
    display: flex;
    align-items: center;
  }
  .card__box {
    width: 33.33%;
  }
}
.card__item {
  max-width: 350px;
  margin: 1.5rem;
  background-color: #ffffff;
  padding: 3rem;
  margin-bottom: 2.5rem;
  border-radius: 0.6rem;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.2);
  transition: transform ease 0.2s;
  transform: scale(1);
  will-change: contents;
}
.card__item--cyan {
  border-top: 3px solid #45d3d3;
}
.card__item--red {
  border-top: 3px solid #ea5353;
}
.card__item--orange {
  border-top: 3px solid #fcaf4a;
}
.card__item--blue {
  border-top: 3px solid #549ef2;
}
.card__item:hover {
  transform: scale(1.04);
}
.card__title {
  color: #4c4e61;
  font-weight: bold;
  font-size: 2.2rem;
}
.card__description {
  color: #a3a5ae;
}
.card__image {
  margin-top: 3.5rem;
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0 auto;
  width: 100%;
}

.fourCard__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
