.footer {
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4.125rem 2.5rem 2.5rem;
}


@media screen and (min-width: 474px) {
    .footer{
        flex-direction: row;
    }
}

@media screen and (min-width: 584px) {
    .footer{
       align-items: stretch;
       justify-content: space-around;
    }
}