/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
s article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding: 6.4%;
}

body,
input,
button,
textarea,
a {
  font: 400 1.6rem/1.6 "Barlow", sans-serif;
}

@media (min-width: 600px) {
  :root,
html,
body {
    min-height: 100vh;
  }
}
.header {
  width: 100%;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__linkLogo {
  line-height: 0;
}
.header__button {
  width: 150px;
  height: 48px;
  display: inline-block;
  border-radius: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8eff2;
  color: #162542;
}

.main {
  width: 100%;
  margin-top: 6.4rem;
}

.typemaster {
  width: 100%;
}
.typemaster__title {
  font-size: 4.8rem;
  color: #162542;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.typemaster__description {
  margin-top: 3.2rem;
  color: #7b8bad;
}
.typemaster__links {
  margin: 3.2rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.typemaster__links .typemaster__link {
  text-decoration: none;
}
.typemaster__preOrderBtn {
  width: 150px;
  height: 48px;
  display: inline-block;
  border-radius: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16718;
  color: #ffffff;
}
.typemaster__releaseLink {
  color: #7b8bad;
  font-weight: 700;
  text-transform: uppercase;
}
.typemaster__image {
  border-radius: 2rem;
  object-fit: cover;
  line-height: 0;
}
.typemaster__image--phone-keyboard {
  margin-left: -14.06%;
  width: 39%;
  position: relative;
  display: inline-block;
}
.typemaster__image--phone-keyboard img {
  width: 100%;
}
.typemaster__image--phone-keyboard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e36117;
  border-radius: 2rem;
  mix-blend-mode: multiply;
}
.typemaster__image--keyboard {
  width: 113%;
  margin-bottom: 6.72%;
}
.typemaster__image--glass-keyboard {
  margin-left: 6.72%;
  width: 67%;
}

.mechanical {
  width: 100%;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mechanical__title {
  color: #162542;
  font-size: 3.2rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  max-width: 255px;
}
.mechanical__description {
  margin-top: 2.4rem;
  color: #7b8bad;
  text-align: center;
  font-size: 1.6rem;
  line-height: 26px;
}

.qualits {
  margin-top: 11rem;
  width: 100%;
}
.qualits__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qualits__quality {
  max-width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qualits__quality:not(:last-child) {
  margin-bottom: 6.4rem;
}
.qualits__imageBox {
  width: 65px;
  height: 65px;
  background-color: #f16718;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.qualits__title {
  margin-top: 4.8rem;
  font-size: 2.4rem;
  color: #162542;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
}
.qualits__description {
  margin-top: 2.4rem;
  color: #7b8bad;
  text-align: center;
}

.footer {
  margin-top: 9.6rem;
  padding: 2.5rem 0;
  text-align: center;
}
.footer__text {
  color: #7b8bad;
}
.footer__text--bold {
  font-weight: bold;
}

body,
html {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
