$font-inter: "Inter", sans-serif;
$font-lexend: "Lexend Deca", sans-serif;

// ### Colors

// ### Primary

$page-background: #090b1a;
$card-background: #1b1938;
$accent: #aa5cdb;

// ### Neutral

$main-heading: #ffffff;
$main-paragraph: rgba(255, 255, 255, 0.749);
$stats-value: #ffffff;
$stat-headings: rgba(255, 255, 255, 0.6);
