@import "base";

body {
  display: grid;
  place-items: center;
}

.card {
  background-color: $card-background;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "card__image"
    "card__content";

  @include for-tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card__content card__image";
    max-width: 100rem;
  }

  min-width: 250px;

  border-radius: 1rem;

  &__image {
    grid-area: card__image;
    background: url(../images/image-header-mobile.jpg) no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
    border-radius: 1rem 1rem 0 0;

    &::before {
      content: "";
      position: absolute;
      border-radius: 1rem 1rem 0 0;
      width: 100%;
      height: 100%;
      background-color: rgba(125, 0, 202, 0.35);
      z-index: 1;

      @include for-tablet {
        border-radius: 0 1rem 1rem 0;
      }
    }

    @include for-tablet {
      border-radius: 0 1rem 1rem 0;
    }
  }

  &__content {
    grid-area: card__content;
    padding: 4rem 3rem;
    text-align: center;

    @include for-tablet {
      margin-right: 4rem;
    }
  }

  &__title {
    font-family: $font-inter;
    color: $main-heading;
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    // text-align: center;

    &--acent {
      color: $accent;
    }
  }

  &__paragraph {
    // text-align: center;
    color: $main-paragraph;
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  &__stats {
    @include for-tablet {
      display: flex;
      justify-content: space-around;
      // align-items: flex-end;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    font-family: $font-inter;

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include for-tablet {
        margin-bottom: 0;
      }
    }
  }

  &__text--bolder {
    color: $stats-value;
    font-weight: bold;
    font-size: 2.8rem;
  }
  &__text--small {
    color: $stat-headings;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}
