.input {
    font-family: inherit;
    padding: .7rem 1.25rem;
    width: 95%;
    max-width: 310px;
    border-radius: var(--border-radius);
    border: 1px solid var(--desaturated-blue);    
}

.input--earlyAccess {
    width: 65%;
    margin-top: 1.5rem; 
    padding: .5rem 1.25rem;
    
}
.input:focus,
.input:active {
    outline: none;
    border: 1px solid var(--dark-blue);
}
