$color-background: #9eafc2;
$regular-font: "Manrope", sans-serif;

$card-background-color: #ecf2f8;

$title-color: #6d7f97;
$paragraph-color: #9eafc2;

$userName-color: #6d7f97;
$data-color: #9eafc2;

$global-space: 1rem;
