$color-background: #ecf2f8;
$regular-font: "Manrope", sans-serif;

$card-background-color: #ffffff;

$title-color: #6d7f97;
$paragraph-color: #9eafc2;

$userName-color: #6d7f97;
$data-color: #9eafc2;

$share-background-color: #6d7f97;

$global-space: 1rem;
